body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.4rem #0002;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main-header + * {
  margin-top: 6rem;
}
.main-header .logo {
  height: 3rem;
}
.main-header .main-nav {
  display: flex;
}
.main-header .link {
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}
.main-header .link:hover {
  background-color: #eee;
}
.main-header .link.active {
  background-color: #ccc;
}
